@import controllers.CreateProductForm
@(product: Form[CreateProductForm], categories: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.ProductController.createProductHandle()) {
    @helper.CSRF.formField
    @inputText(product("name"))
    @inputText(product("description"))

    <select name="category" id="category">
    @for(cat <- categories){
        <option value="@cat.id">@cat.name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Product"/>
    </div>
}